{%load static%}     
<!DOCTYPE html>
<html lang="en">
<head>
    {%include "kmap/utils/standard_head.html"%}
    <title>Kmap | Index</title>
    <link type="text/css" rel="stylesheet" href="{%static "styles/index.css"%}"/>
</head>
<body>
    
    <div id="wrapper">
    <div id="inner-wrapper">
	    <div id="header">
	       <h2>Kmap</h2>
	    </div>
        <div id="content">
            <h1>Welcome to Kmap</h1>
            <p>Kmap is an application for creating, editing and navigating concept maps.
            The application is under constructions so some features may not be available</p>
	        <form action="{%url 'navigate'%}" method="GET">
	            <button  class="btn btn-default">Navigate</button>
	        </form>
	        
	        <form action="{%url 'learn'%}" method="GET">
	            <button type="button" class="btn btn-default">Learn</button>
	        </form>
        </div>
        <div id="footer">
            <p>See the code in <a href="https://github.com/daniels-mer/kmap">github</a>  </p>      
        
        </div>
    </div>
    </div>
</body>
</html>


